.mui-bar{
	padding-top:23px;
	height:66px;
}
.mui-bar-nav~.mui-content {
	padding-top: 66px;
}
/* Margin helpers */
.mui-margin {
	margin: 1.6rem!important;
}

.mui-margin-0 {
	margin: 0!important;
}

.mui-margin-xs {
	margin: 0.5rem!important;
}

.mui-margin-sm {
	margin: 1rem!important;
}

.mui-margin-lg {
	margin: 2.4rem!important;
}

.mui-margin-xl {
	margin: 3.2rem!important;
}

.mui-margin-horizontal {
	margin-left: 1.6rem!important;
	margin-right: 1.6rem!important;
}

.mui-margin-horizontal-0 {
	margin-left: 0!important;
	margin-right: 0!important;
}

.mui-margin-horizontal-xs {
	margin-left: 0.5rem!important;
	margin-right: 0.5rem!important;
}

.mui-margin-horizontal-sm {
	margin-left: 1rem!important;
	margin-right: 1rem!important;
}

.mui-margin-horizontal-lg {
	margin-left: 2.4rem!important;
	margin-right: 2.4rem!important;
}

.mui-margin-horizontal-xl {
	margin-left: 3.2rem!important;
	margin-right: 3.2rem!important;
}

.mui-margin-vertical {
	margin-top: 1.6rem!important;
	margin-bottom: 1.6rem!important;
}

.mui-margin-vertical-0 {
	margin-top: 0!important;
	margin-bottom: 0!important;
}

.mui-margin-vertical-xs {
	margin-top: 0.5rem!important;
	margin-bottom: 0.5rem!important;
}

.mui-margin-vertical-sm {
	margin-top: 1rem!important;
	margin-bottom: 1rem!important;
}

.mui-margin-vertical-lg {
	margin-top: 2.4rem!important;
	margin-bottom: 2.4rem!important;
}

.mui-margin-vertical-xl {
	margin-top: 3.2rem!important;
	margin-bottom: 3.2rem!important;
}

.mui-margin-top {
	margin-top: 1.6rem!important;
}

.mui-margin-top-0 {
	margin-top: 0!important;
}

.mui-margin-top-xs {
	margin-top: 0.5rem!important;
}

.mui-margin-top-sm {
	margin-top: 1rem!important;
}

.mui-margin-top-lg {
	margin-top: 2.4rem!important;
}

.mui-margin-top-xl {
	margin-top: 3.2rem!important;
}

.mui-margin-bottom {
	margin-bottom: 1.6rem!important;
}

.mui-margin-bottom-0 {
	margin-bottom: 0!important;
}

.mui-margin-bottom-xs {
	margin-bottom: 0.5rem!important;
}

.mui-margin-bottom-sm {
	margin-bottom: 1rem!important;
}

.mui-margin-bottom-lg {
	margin-bottom: 2.4rem!important;
}

.mui-margin-bottom-xl {
	margin-bottom: 3.2rem!important;
}

.mui-margin-left {
	margin-left: 1.6rem!important;
}

.mui-margin-left-0 {
	margin-left: 0!important;
}

.mui-margin-left-xs {
	margin-left: 0.5rem!important;
}

.mui-margin-left-sm {
	margin-left: 1rem!important;
}

.mui-margin-left-lg {
	margin-left: 2.4rem!important;
}

.mui-margin-left-xl {
	margin-left: 3.2rem!important;
}

.mui-margin-right {
	margin-right: 1.6rem!important;
}

.mui-margin-right-0 {
	margin-right: 0!important;
}

.mui-margin-right-xs {
	margin-right: 0.5rem!important;
}

.mui-margin-right-sm {
	margin-right: 1rem!important;
}

.mui-margin-right-lg {
	margin-right: 2.4rem!important;
}

.mui-margin-right-xl {
	margin-right: 3.2rem!important;
}


/* Padding helpers */

.mui-padding {
	padding: 1.6rem!important;
}

.mui-padding-0 {
	padding: 0!important;
}

.mui-padding-xs {
	padding: 0.5rem!important;
}

.mui-padding-sm {
	padding: 1rem!important;
}

.mui-padding-lg {
	padding: 2.4rem!important;
}

.mui-padding-xl {
	padding: 3.2rem!important;
}

.mui-padding-horizontal {
	padding-left: 1.6rem!important;
	padding-right: 1.6rem!important;
}

.mui-padding-horizontal-0 {
	padding-left: 0!important;
	padding-right: 0!important;
}

.mui-padding-horizontal-xs {
	padding-left: 0.5rem!important;
	padding-right: 0.5rem!important;
}

.mui-padding-horizontal-sm {
	padding-left: 1rem!important;
	padding-right: 1rem!important;
}

.mui-padding-horizontal-lg {
	padding-left: 2.4rem!important;
	padding-right: 2.4rem!important;
}

.mui-padding-horizontal-xl {
	padding-left: 3.2rem!important;
	padding-right: 3.2rem!important;
}

.mui-padding-vertical {
	padding-top: 1.6rem!important;
	padding-bottom: 1.6rem!important;
}

.mui-padding-vertical-0 {
	padding-top: 0!important;
	padding-bottom: 0!important;
}

.mui-padding-vertical-xs {
	padding-top: 0.5rem!important;
	padding-bottom: 0.5rem!important;
}

.mui-padding-vertical-sm {
	padding-top: 1rem!important;
	padding-bottom: 1rem!important;
}

.mui-padding-vertical-lg {
	padding-top: 2.4rem!important;
	padding-bottom: 2.4rem!important;
}

.mui-padding-vertical-xl {
	padding-top: 3.2rem!important;
	padding-bottom: 3.2rem!important;
}

.mui-padding-top {
	padding-top: 1.6rem!important;
}

.mui-padding-top-0 {
	padding-top: 0!important;
}

.mui-padding-top-xs {
	padding-top: 0.5rem!important;
}

.mui-padding-top-sm {
	padding-top: 1rem!important;
}

.mui-padding-top-lg {
	padding-top: 2.4rem!important;
}

.mui-padding-top-xl {
	padding-top: 3.2rem!important;
}

.mui-padding-bottom {
	padding-bottom: 1.6rem!important;
}

.mui-padding-bottom-0 {
	padding-bottom: 0!important;
}

.mui-padding-bottom-xs {
	padding-bottom: 0.5rem!important;
}

.mui-padding-bottom-sm {
	padding-bottom: 1rem!important;
}

.mui-padding-bottom-lg {
	padding-bottom: 2.4rem!important;
}

.mui-padding-bottom-xl {
	padding-bottom: 3.2rem!important;
}

.mui-padding-left {
	padding-left: 1.6rem!important;
}

.mui-padding-left-0 {
	padding-left: 0!important;
}

.mui-padding-left-xs {
	padding-left: 0.5rem!important;
}

.mui-padding-left-sm {
	padding-left: 1rem!important;
}

.mui-padding-left-lg {
	padding-left: 2.4rem!important;
}

.mui-padding-left-xl {
	padding-left: 3.2rem!important;
}

.mui-padding-right {
	padding-right: 1.6rem!important;
}

.mui-padding-right-0 {
	padding-right: 0!important;
}

.mui-padding-right-xs {
	padding-right: 0.5rem!important;
}

.mui-padding-right-sm {
	padding-right: 1rem!important;
}

.mui-padding-right-lg {
	padding-right: 2.4rem!important;
}

.mui-padding-right-xl {
	padding-right: 3.2rem!important;
}


/* ==========================================================================
   Component: Article
 ============================================================================ */

.mui-article:before,
.mui-article:after {
	content: " ";
	display: table;
}

.mui-article:after {
	clear: both;
}

.mui-article> :last-child {
	margin-bottom: 0;
}

.mui-article+.mui-article {
	margin-top: 1.2rem;
}


/* Sub-object `.@{ns}article-title` */

.mui-article-title {
	font-size: 1.5rem;
	line-height: 1.15;
	font-weight: normal;
}

.mui-article-title a {
	color: inherit;
	text-decoration: none;
}


/* Sub-object `.@{ns}article-meta` */

.mui-article-meta {
	font-size: 1rem;
	line-height: 1.5;
	color: #999999;
}


/* Sub-object `.@{ns}article-lead` */

.mui-article-lead {
	color: #666;
	font-size: 1.1rem;
	line-height: 1.5;
	border: 1px solid #dedede;
	border-radius: 2px;
	background: #f9f9f9;
	padding: 5px;
}


/* Sub-object `.@{ns}article-divider` */

.mui-article-divider {
	margin-bottom: 1rem;
	border-color: #eeeeee;
}

*+.mui-article-divider {
	margin-top: 1rem;
}


/* Sub-object `.@{ns}article-bd` */

.mui-article-bd blockquote {
	font-family: Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, "FontAwesome", serif;
}

.mui-article-bd img {
	display: block;
	max-width: 100%;
}


/* ==========================================================================
   Component: Grid
 ============================================================================ */

.mui-container {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	width: 100%;
	max-width: 1000px;
}

.mui-container:before,
.mui-container:after {
	content: " ";
	display: table;
}

.mui-container:after {
	clear: both;
}

@media only screen and (min-width:641px) {
	.mui-container {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

.mui-container>.mui-g {
	width: auto;
	margin-left: -1rem;
	margin-right: -1rem;
}

@media only screen and (min-width:641px) {
	.mui-container>.mui-g {
		margin-left: -1.5rem;
		margin-right: -1.5rem;
	}
}

.mui-g {
	margin: 0 auto;
	width: 100%;
}

.mui-g:before,
.mui-g:after {
	content: " ";
	display: table;
}

.mui-g:after {
	clear: both;
}

.mui-g .mui-g {
	margin-left: -1rem;
	margin-right: -1rem;
	width: auto;
}

.mui-g .mui-g.mui-g-collapse {
	margin-left: 0;
	margin-right: 0;
	width: auto;
}

@media only screen and (min-width:641px) {
	.mui-g .mui-g {
		margin-left: -1.5rem;
		margin-right: -1.5rem;
	}
}

.mui-g.mui-g-collapse .mui-g {
	margin-left: 0;
	margin-right: 0;
}

.mui-g-collapse [class*="mui-u-"] {
	padding-left: 0;
	padding-right: 0;
}

.mui-g-fixed {
	max-width: 1000px;
}

[class*="mui-u-"] {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	float: left;
	position: relative;
}

[class*="mui-u-"]+[class*="mui-u-"]:last-child {
	float: right;
}

[class*="mui-u-"]+[class*="mui-u-"].mui-u-end {
	float: left;
}

@media only screen and (min-width:641px) {
	[class*="mui-u-"] {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

[class*="mui-u-pull-"] {
	left: auto;
}

[class*="mui-u-push-"] {
	right: auto;
}

@media only screen {
	.mui-u-sm-1 {
		width: 8.33333333%;
	}
	.mui-u-sm-2 {
		width: 16.66666667%;
	}
	.mui-u-sm-3 {
		width: 25%;
	}
	.mui-u-sm-4 {
		width: 33.33333333%;
	}
	.mui-u-sm-5 {
		width: 41.66666667%;
	}
	.mui-u-sm-6 {
		width: 50%;
	}
	.mui-u-sm-7 {
		width: 58.33333333%;
	}
	.mui-u-sm-8 {
		width: 66.66666667%;
	}
	.mui-u-sm-9 {
		width: 75%;
	}
	.mui-u-sm-10 {
		width: 83.33333333%;
	}
	.mui-u-sm-11 {
		width: 91.66666667%;
	}
	.mui-u-sm-12 {
		width: 100%;
	}
	.mui-u-sm-pull-0 {
		right: 0;
	}
	.mui-u-sm-pull-1 {
		right: 8.33333333%;
	}
	.mui-u-sm-pull-2 {
		right: 16.66666667%;
	}
	.mui-u-sm-pull-3 {
		right: 25%;
	}
	.mui-u-sm-pull-4 {
		right: 33.33333333%;
	}
	.mui-u-sm-pull-5 {
		right: 41.66666667%;
	}
	.mui-u-sm-pull-6 {
		right: 50%;
	}
	.mui-u-sm-pull-7 {
		right: 58.33333333%;
	}
	.mui-u-sm-pull-8 {
		right: 66.66666667%;
	}
	.mui-u-sm-pull-9 {
		right: 75%;
	}
	.mui-u-sm-pull-10 {
		right: 83.33333333%;
	}
	.mui-u-sm-pull-11 {
		right: 91.66666667%;
	}
	.mui-u-sm-push-0 {
		left: 0;
	}
	.mui-u-sm-push-1 {
		left: 8.33333333%;
	}
	.mui-u-sm-push-2 {
		left: 16.66666667%;
	}
	.mui-u-sm-push-3 {
		left: 25%;
	}
	.mui-u-sm-push-4 {
		left: 33.33333333%;
	}
	.mui-u-sm-push-5 {
		left: 41.66666667%;
	}
	.mui-u-sm-push-6 {
		left: 50%;
	}
	.mui-u-sm-push-7 {
		left: 58.33333333%;
	}
	.mui-u-sm-push-8 {
		left: 66.66666667%;
	}
	.mui-u-sm-push-9 {
		left: 75%;
	}
	.mui-u-sm-push-10 {
		left: 83.33333333%;
	}
	.mui-u-sm-push-11 {
		left: 91.66666667%;
	}
	.mui-u-sm-offset-0 {
		margin-left: 0;
	}
	.mui-u-sm-offset-1 {
		margin-left: 8.33333333%;
	}
	.mui-u-sm-offset-2 {
		margin-left: 16.66666667%;
	}
	.mui-u-sm-offset-3 {
		margin-left: 25%;
	}
	.mui-u-sm-offset-4 {
		margin-left: 33.33333333%;
	}
	.mui-u-sm-offset-5 {
		margin-left: 41.66666667%;
	}
	.mui-u-sm-offset-6 {
		margin-left: 50%;
	}
	.mui-u-sm-offset-7 {
		margin-left: 58.33333333%;
	}
	.mui-u-sm-offset-8 {
		margin-left: 66.66666667%;
	}
	.mui-u-sm-offset-9 {
		margin-left: 75%;
	}
	.mui-u-sm-offset-10 {
		margin-left: 83.33333333%;
	}
	.mui-u-sm-offset-11 {
		margin-left: 91.66666667%;
	}
	.mui-u-sm-reset-order {
		margin-left: 0;
		margin-right: 0;
		left: auto;
		right: auto;
		float: left;
	}
	[class*="mui-u-"].mui-u-sm-centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	[class*="mui-u-"].mui-u-sm-centered:last-child {
		float: none;
	}
	[class*="mui-u-"].mui-u-sm-uncentered {
		margin-left: 0;
		margin-right: 0;
		float: left;
	}
	[class*="mui-u-"].mui-u-sm-uncentered:last-child {
		float: left;
	}
}